[build]
  publish = "out"
  command = "npm ci --include=dev && npm run build"

[build.environment]
  NODE_VERSION = "18.18.0"
  NPM_FLAGS = "--include=dev"
  NEXT_TELEMETRY_DISABLED = "1"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NODE_ENV = "production"

[context.deploy-preview.environment]
  NODE_ENV = "production"

[context.branch-deploy.environment]
  NODE_ENV = "production"