@import '../../../styles/variables';
@import '../../../styles/mixins';

.home-page {
  overflow-x: hidden;
}

.error-container {
  @include flex-column-center;
  min-height: 50vh;
  text-align: center;
  padding: 2rem;

  h2 {
    color: var(--error-color);
    margin-bottom: 1rem;
  }

  p {
    color: var(--text-secondary);
    margin-bottom: 2rem;
  }

  button {
    @include button-variant(var(--primary-color));
  }
}